<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<ul class="navigation">
		<li class="active">
			<a href="/"><h1>Walky Talky</h1></a>
		</li>
		<li>
			<a href="/instructions">Instructions</a>
		</li>
		<li>
			<a href="/references">References</a>
		</li>
		<li>
			<a href="/logout">Logout</a>
		</li>
	</ul>
</nav>
