<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-comment"></span> Walky Talky</a>
      </li>
      <li>
        <a href="/instructions"><span class="glyphicon glyphicon-info-sign"></span> Instructions</a>
      </li>
	  <li>
        <a href="/references"><span class="glyphicon glyphicon-book"></span> References</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-user"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
