/*---------------------LARGE ELEMENTS------------------------*/
body {
	font-family: 'Open Sans', sans-serif; 
	padding: 0; 
	margin: 5% auto;
	height: 800px;
	width: 1000px; 
	background-color: darkgray;
}

#background {
	background-image: url('../images/background.png');
	background-repeat: repeat-y;
	background-position: center;
	margin: 0 auto;
	width: 1000px;
	padding: 0 0 4% 0;
}

.container { 
	margin: 0 auto; 	
}

#walkyHeader { 
	background-color: #fefefe;
	padding: 1% 2%; 
}

#login, #signup {
	width: 30%;  
	padding: 2% 2%; 
	background-color: #1786ab55;
	border: solid #1786ab 2px;
	margin: 0 auto; 
}

#signup, #walkyTalky, #addContactInfo, #messages {
	display: none;
}

#walkyTalkyContainer {
	display: flex; 
	flex-direction: row; 
}

#conversation {
	height: 512px; 
	width: 500px;
	margin-left: 5%;
	background-color: #1786ab55;
	border: solid #1786ab 2px;
}

#addContactInfo {
	padding: 3%;
}

.sections {
	flex: 1;
	display: flex; 
	flex-direction: column;
}

.modal {
	width: 50%;
	margin: 0 auto;
}

/*---------------------NAVIGATION------------------------*/
.navigation {
	display: flex;
	justify-content: space-between;
	padding: 0 0 4% 0;
	margin: 0; 
}

.navigation li {
	flex: 1;
	text-align: center;
	background-color: #4d4e4c;
	list-style-type: none;
	padding: 1%;
}

.navigation li a {
	color: #eeeeee;
	text-decoration: none; 
}

.navigation li a:hover {
	color: #1786ab; 
}

#walkyMenu {
	background-image: url('../images/walkyTalky.png');
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: 512px;
	width: 240px;
    margin-left: 10%;
}

/*-----------------------HEADERS--------------------------*/
h1, h2 {
	font-family: 'Sriracha', cursive;	
	color: #1786ab; 
	margin: 0; 
}

h3 {
	font-size: 1.30em; 
}

#welcomeMessage h3 {
	margin: 50% auto; 
	text-align: center;
}

/*------------------BUTTONS AND LINKS---------------------*/
a {
	color: #6a2c93; 
}

a:hover, a:visited {
	color: #1786ab;
}

button, .button { 
	margin: 0 auto; 
	border-radius: 20px; 
	font-size: 1em; 
	color: #fefefe; 
	background-color: #1786abcc;
	border: none;
}

button {
	padding: 4% 5%;
	width: 125px;
	margin: 0 auto;
}

.button, #conversation button {
	padding: 4%;
	width: 190px; 
	margin: 0 auto 5% auto; 
	color: white;
}

#selectConversation {
	background-color: #ce3762;
	margin-top: 225px;
}

#addNewContact {
	background-color: #db7734;
}

#editMessage {
	background-color: #ffbf00;
}

#deleteMessage { 
	background-color: #2d9587;
}

#deleteContact {
	background-color: #6a2c93;
}


/*---------------PARAGRAPHS AND SPANS------------------*/

.error {
	color: #ce3762;
}


