/*---------------------LARGE ELEMENTS------------------------*/
body {
	font-family: 'Open Sans', sans-serif; 
	padding: 0; 
	margin: 5% auto;
	height: 800px;
	width: 1000px; 
	background-color: darkgray;
}

#background {
	background-image: url('../images/background.png');
	background-repeat: repeat-y;
	background-position: center;
	margin: 0 auto;
	width: 1000px;
	padding: 0 0 5% 0;
}

.container { 
	margin: 0 auto; 	
}

#walkyHeader { 
	background-color: #fefefe;
	padding: 1% 2%; 
}

#login, #signup {
	width: 30%;  
	padding: 2% 2%; 
	background-color: #1786ab55;
	border: solid #1786ab 2px;
	margin: 0 auto; 
}

#walkyTalky, #signup {
	display: none;
}

.col-md-6 {
	width: 50%;
	margin: 0 auto;
}

/*---------------------NAVIGATION------------------------*/
.navigation {
	display: flex;
	justify-content: space-between;
	padding: 0 0 5% 0;
	margin: 0; 
	
}

.navigation li {
	flex: 1;
	text-align: center;
	background-color: #4d4e4c;
	list-style-type: none;
	padding: 1%;
}

.navigation li a {
	color: #eeeeee;
	text-decoration: none; 
}

.navigation li a:hover {
	color: #1786ab; 
}

/*-----------------------HEADERS--------------------------*/
h1, h2 {
	font-family: 'Sriracha', cursive;	
	color: #1786ab; 
	margin: 0; 
}

h3 {
	font-size: 1.30em; 
}

/*------------------BUTTONS AND LINKS---------------------*/
button, .button { 
	margin: 0 auto; 
	border-radius: 20px; 
	padding: 2%;
	font-size: 1em; 
	color: #fefefe; 
	background-color: #1786abcc;
}

a {
	color: #6a2c93; 
}

a:hover, a:visited {
	color: #1786ab;
}

#selectConversation {
	background-color: #ce3762;
}

#addNewContact {
	background-color: #db7734;
}

#editMessage {
	background-color: #ffbf00;
}

#deleteMessage { 
	background-color: #2d9587;
}

#deleteContact {
	background-color: #6a2c93;
}


/*---------------PARAGRAPHS AND SPANS------------------*/

.error {
	color: #ce3762;
}


