<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>

		<% include ../partials/nav.ejs %>

		<div class="jumbotron text-center">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6">
				<form action='/login' method='/post'>
					<p>Welcome to Walky Talky, please login:</p>
					<label>Username: <input type='text' name='username'></label>
					<label>Password: <input type='password' name='password'></label>
					<button type='submit' name='login'>Login</button>
				</form>
			</div>
		</div> <!-- row -->
	</body>
</html>
