<!DOCTYPE html>
<html>
	<head>
		<script src="scripts/login.js"></script>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container" id="login">
			<div class="col-md-6">
				<form method='post' id='loginForm'>
					<h3>Welcome to Walky Talky, please login:</h3>
					<p><label>Username: <input type='text' name='username' id='username'></label></p>
					<p><label>Password: <input type='password' name='password' id='password'></label></p>
					<button type='submit' name='login'>Login</button>
					<p>New? <a href='/signup'>Sign up</a> to create an account.</p>
				</form>
				<span id="error"></span>
			</div>
		</div> 
		<div class="container" id="walkyTalky">
			<div class="col-md-6">
				<h3>Welcome to Walky Talky <span id=welcomeUser></span>!!! Login Successful!!!</h3>
			</div>
		</div>
	</body>
</html>
