<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<div id="background">
		<div class="container" id="walkyHeader">
			<div class="container">
				<h1>WalkyTalky</h1>
			</div>
		</div>
		
		<% include ../partials/nav.ejs %>
		
		<div class="container" id="signup">
			<div class="modal">
				<form method='post' id='signupForm'>
					<h3>Welcome to WalkyTalky!</h3>
					<p>Please provide this information:</p>
					<p><label>Create Username: <input type='text' name='username' id='usernameSignup'></label></p>
					<p><label>Select Password: <input type='password' name='password' id='passwordSignup'></label></p>
					<p><label>Confirm Password: <input type='password' name='confirm' id='confirmSignup'></label></p>
					<p><span class="error"></span></p>
					<button type='submit' name='signupButton'>Sign Up</button>
				</form>
			</div>
		</div>
		<div class="container" id="login">
			<div class="modal">
				<form method='post' id='loginForm'>
					<h3>Welcome to WalkyTalky!</h3>
					<p><label>Username: <input type='text' name='username' id='usernameLogin'></label></p>
					<p><label>Password: <input type='password' name='password' id='passwordLogin'></label></p>
					<p><span class="error"></span></p>
					<button type='submit' name='login'>Login</button>
					<p>New? <a href='#' id='signupLink'>Sign up</a> to create an account.</p>
				</form>
			</div>
		</div> 
		<div class="container" id="walkyTalky">
			<div id="walkyTalkyContainer">
				<div class="section" id="walkyMenu">
					<input type="button" id="selectConversation" class="button" value="Select Conversation">
					<input type="button" id="addNewContact" class="button" value="Add New Contact">
					<input type="button" id="editMessage" class="button" value="Edit Last Message">
					<input type="button" id="deleteMessage" class="button" value="Delete Last Message">
					<input type="button" id="deleteContact" class="button" value="Delete Contact">
				</div>
				<div id="conversation" class="section">
					<div id="welcomeMessage">
						<h3>Welcome to WalkyTalky <span id=welcomeUser></span>!</h3>
					</div>
					<div id="selectFriend">
						<form method='post' id='selectFriendForm'>
							<h3>Select a contact to start a message:</h3>
							<p>To start a message select your contact's name from the drop list below. You can only start conversations with people who are your contacts.</p>
							<p>If you do not see the person you are wanting to message make sure they are a WalkyTalky user, that you have added them as a contact, and that they have added you as a contact.</p>
							<p><label>Contact's Name:
								<select id="contactListSelect"></select></label></p>
							<p><span class="error"></span></p>
							<button type='submit' name='selectContact'>Select Conversation</button>
						</form>
					</div>
					<div id="addContactInfo">
						<form method='post' id='addFriendForm'>
							<h3>Enter your contact's username:</h3>
							<p>To add a new contact you need to know their WalkyTalky username. You cannot add contacts who do not have an account.</p>
							<p>You can add contacts who use WalkyTalky, but you will not be able to send them a message until they add you as a contact.</p>
							<p><label>Username: <input type='text' name='username' id='usernameAddFriend'></label></p>
							<p><span class="error"></span></p>
							<button type='submit' name='addContact'>Add Contact</button>
						</form>
					</div>
					<div id="messages">
						<form method='post' id='sendMessage'>
							<div id="messageList"></div>
							<input type='text' name='messageText' id='messageText'>
							<button type='submit' name='sendMessage' id='sendBtn'>Send</button>
						</form>
					</div>
					<div id="deleteFriend">
					
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="/scripts/clientLogin.js"></script>
		<script src="/scripts/contactManagement.js"></script>
		<script src="/scripts/chatManagement.js"></script>
	</body>
</html>
