<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<div class="container" id="walkyHeader">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6">
				<form method='post' id='signupForm'>
					<h3>Welcome to Walky Talky!</h3>
					<p>To create an account please enter the following information:</p>
					<p><label>Create Username: <input type='text' name='username' id='username'></label></p>
					<p><label>Select Password: <input type='password' name='password' id='password'></label></p>
					<p><label>Confirm Password: <input type='password' name='confirm' id='confirm'></label></p>
					<button type='submit' name='signup'>Sign Up</button>
					<span class="error"></span>
				</form>
			</div>
		</div>
		<div class="container" id="login">
			<div class="col-md-6">
				<form method='post' id='loginForm'>
					<h3>Welcome to Walky Talky!</h3>
					<p><label>Username: <input type='text' name='username' id='username'></label></p>
					<p><label>Password: <input type='password' name='password' id='password'></label></p>
					<button type='submit' name='login'>Login</button>
					<p>New? <a href='' onclick='signup()'>Sign up</a> to create an account.</p>
				</form>
				<span class="error"></span>
			</div>
		</div> 
		<div class="container" id="walkyTalky">
			<div class="col-md-6">
				<h3>Welcome to Walky Talky <span id=welcomeUser></span>!</h3>
			</div>
		</div>
		
		<script>
		//use AJAX instead of an action to keep the data on the same page. 
			$('#loginForm').submit(function(event) {

				//this prevents the POST default action
				event.preventDefault();

				//establish variables
				var username = $('#username').val(); 
				var password = $('#password').val(); 

				//call the POST action manually to connect with the nodeJS functions
				$.post('/login', { username: username, password: password }) 
						//because there is a response on success and failure setup two callbacks
					  .done(loginComplete)
					  .fail(loginFailed)		
			});

			//callback function for a successful response - notice the order of the parameters
			function loginComplete(res, status, jqXHR) {
				$('#loginForm').hide(); 
				$('#walkyTalky').show(); 
				$('.error').html('');
				//------------------------------------------------SHOULD START A SESSION WITH ID
				$('#welcomeUser').html(res.userName);
			}

			//callback function for a failed response - notice the change in the parameter order
			function loginFailed(jqXHR, status, res) {
				$('#error').html(jqXHR.responseText);
			}
		
		//when a user clicks the link to sign up for an account
		function signup() {
			$('loginForm').hide();
			$('signupForm').show();
		}
			
		//use AJAX instead of an action to keep the data on the same page.
		$('#signupForm').submit(function(event) {
			
			//this prevents the POST default action
			event.preventDefault(); 
			
			//establish variables
			var username = $('#username').val();
			var password = $('#password').val();
			var confirm = $('#confirm').val();
			
			//verify the form is completed correctly
			var isVerified = verify(username, password, confirm);
			
			if(isVerified) {
				$.post('/createAccount', { username: username, password: password }) 
				//becuase there is a reponse on success and failure setup two callbacks
				.done(signupComplete)
				.fail(signupFailed)
		});
			
		//callback function for a successful response - notice the order of the parameters
		function loginComplete(res, status, jqXHR) {
			$('#signupForm').hide(); 
			$('#loginForm').show(); 
			$('.error').html('');
		}

		//callback function for a failed response - notice the change in the parameter order
		function loginFailed(jqXHR, status, res) {
			$('#error').html(jqXHR.responseText);
		}

		function verify(username, password, confirm) {
			if (confirm == password && username != null) {
				return true;
			} else {
				$('#error').text('There is a problem with your signup. Please try again.');
				return false;
			}
		}
		</script>
	</body>
</html>
