<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Instructions</h1>
	  <div></div>
  </div>
</div> 
	<p>Instructions will go here...</p>
</body>
</html>