<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
		
	</head>
	
	<body>
		<% include ../partials/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6">
				<form action='/createAccount' method='post' id='signupForm'>
					<h3>Welcome to Walky Talky!</h3>
					<p>To create an account please enter the following information:</p>
					<p><label>Create Username: <input type='text' name='username'></label></p>
					<p><label>Select Password: <input type='password' name='password'></label></p>
					<p><label>Confirm Password: <input type='password' name='confirm'></label></p>
					<input type='submit' name='signup' value='Sign Up'><br>
					<span id="error"></span>
				</form>
			</div>
		</div>
		
		<script>
		$('#signupForm').submit(function(event) {
			event.preventDefault(); 
			var post_username = $(this).attr('action');
			var form_data = JSON.stringify($(this).serialize());
			var isVerified = verify(form_data);
			
			
			if(isVerified) {
				$.post(post_url, form_data, function(response) {
				$('#server-results').html(response);
			});
			}			
		});

		function verify(form_data) {
			console.log(form_data);
			if (form_data['confirm'] == form_data['password'] && form_data['username'] != null) {
				return true;
			} else {
				$('#error').text('There is a problem with your signup. Please try again.');
				return false;
			}
		}
	</script>	
		
	</body>
</html>
