<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
		
	</head>
	
	<body>
		<% include ../partials/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6">
				<form id='signupForm' action='/createAccount' method='post'>
					<h3>Welcome to Walky Talky!</h3>
					<p>To create an account please enter the following information:</p>
					<p><label>Create Username: <input type='text' name='username' id='username'></label></p>
					<p><label>Select Password: <input type='password' name='password' id='password'></label></p>
					<p><label>Confirm Password: <input type='password' name='confirm' id='confirm'></label></p>
					<input type='submit' name='signup' value='Sign Up'><br>
					<span id="error"></span>
				</form>
			</div>
		</div>
		
		<script>
		$('#signupForm').submit(function(event) {
			//event.preventDefault(); 
			var form_object = {};
			form_object['username'] = $('#username').val();
			form_object['password'] = $('#password').val();
			form_object['confirm'] = $('#confirm').val();
			var form_data = $(this).serialize(); 
			var isVerified = verify(form_object);
			
			if(isVerified) {
				//$.post('/createAccount', form_data, function(response) {
				//$('#server-results').html(response);
				return true; 
			} else {
				return false;
			}
		});

		function verify(form_object) {
			console.log(form_object);
			if (form_object['confirm'] == form_object['password'] && form_object['username'] != null) {
				return true;
			} else {
				$('#error').text('There is a problem with your signup. Please try again.');
				return false;
			}
		}
	</script>	
		
	</body>
</html>
