<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6">
				<form action='/createAccount' method='/post'>
					<h3>Welcome to Walky Talky!</h3>
					<p>To create an account please enter the following information:</p>
					<p><label>Username: <input type='text' name='username'></label></p>
					<p><label>Password: <input type='password' name='password'></label></p>
					<p><label>Confirm Password: <input type='password' name='password'></label></p>
					<button type='submit' name='signup'>Sign Up</button>
					<span id="error"></span>
				</form>
			</div>
		</div> <!-- row -->
	</body>
</html>
