<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Walky Talky</h1>
			</div>
		</div>
		<div class="container">
			<div class="col-md-6">
				<h3>Welcome to Walky Talky!!! Login Successful!!!</h3>
			</div>
		</div> 
	</body>
</html>
